<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
    <Directory Id="DIR_1" Name="Resources">
    </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
<Component Id="cmp_1" Guid="*">
  <File Id="fil_1" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\BouncyCastle.Cryptography.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_2" Guid="*">
  <File Id="fil_2" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\BouncyCastle.Cryptography.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_3" Guid="*">
  <File Id="fil_3" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\Google.Protobuf.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_4" Guid="*">
  <File Id="fil_4" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\Google.Protobuf.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_5" Guid="*">
  <File Id="fil_5" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\K4os.Compression.LZ4.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_6" Guid="*">
  <File Id="fil_6" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\K4os.Compression.LZ4.Streams.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_7" Guid="*">
  <File Id="fil_7" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\K4os.Compression.LZ4.Streams.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_8" Guid="*">
  <File Id="fil_8" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\K4os.Compression.LZ4.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_9" Guid="*">
  <File Id="fil_9" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\K4os.Hash.xxHash.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_10" Guid="*">
  <File Id="fil_10" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\K4os.Hash.xxHash.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_11" Guid="*">
  <File Id="fil_11" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\LogTagIO29.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_12" Guid="*">
  <File Id="fil_12" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_13" Guid="*">
  <File Id="fil_13" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\Microsoft.Bcl.AsyncInterfaces.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_14" Guid="*">
  <File Id="fil_14" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\MySql.Data.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_15" Guid="*">
  <File Id="fil_15" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\MySql.Data.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_16" Guid="*">
  <File Id="fil_16" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\Newtonsoft.Json.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_17" Guid="*">
  <File Id="fil_17" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\Newtonsoft.Json.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_19" Guid="*">
  <File Id="fil_19" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Buffers.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_20" Guid="*">
  <File Id="fil_20" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Buffers.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_21" Guid="*">
  <File Id="fil_21" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Configuration.ConfigurationManager.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_22" Guid="*">
  <File Id="fil_22" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Configuration.ConfigurationManager.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_23" Guid="*">
  <File Id="fil_23" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Diagnostics.DiagnosticSource.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_24" Guid="*">
  <File Id="fil_24" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Diagnostics.DiagnosticSource.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_25" Guid="*">
  <File Id="fil_25" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.IO.Pipelines.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_26" Guid="*">
  <File Id="fil_26" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.IO.Pipelines.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_27" Guid="*">
  <File Id="fil_27" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Memory.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_28" Guid="*">
  <File Id="fil_28" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Memory.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_29" Guid="*">
  <File Id="fil_29" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Numerics.Vectors.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_30" Guid="*">
  <File Id="fil_30" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Numerics.Vectors.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_31" Guid="*">
  <File Id="fil_31" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Runtime.CompilerServices.Unsafe.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_32" Guid="*">
  <File Id="fil_32" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Runtime.CompilerServices.Unsafe.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_33" Guid="*">
  <File Id="fil_33" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Threading.Tasks.Extensions.dll" KeyPath="yes" />
</Component>
<Component Id="cmp_34" Guid="*">
  <File Id="fil_34" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\System.Threading.Tasks.Extensions.xml" KeyPath="yes" />
</Component>
<Component Id="cmp_35" Guid="*">
  <File Id="fil_35" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\VigitempAgent.exe" KeyPath="yes" />
</Component>
<Component Id="cmp_36" Guid="*">
  <File Id="fil_36" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\VigitempAgent.exe.config" KeyPath="yes" />
</Component>
<Component Id="cmp_37" Guid="*">
  <File Id="fil_37" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\ZstdSharp.dll" KeyPath="yes" />
</Component>
</DirectoryRef>
<DirectoryRef Id="DIR_1">
<Component Id="cmp_18" Guid="*">
  <File Id="fil_18" Source="C:\VigitempProject\vigitemp\Vigitemp agent\Vigitemp agent\bin\Release\\Resources\captive_portal_16dp_D40D33_FILL0_wght400_GRAD0_opsz20.png" KeyPath="yes" />
</Component>
</DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="AppFiles">
      <ComponentRef Id="cmp_1" />
<ComponentRef Id="cmp_2" />
<ComponentRef Id="cmp_3" />
<ComponentRef Id="cmp_4" />
<ComponentRef Id="cmp_5" />
<ComponentRef Id="cmp_6" />
<ComponentRef Id="cmp_7" />
<ComponentRef Id="cmp_8" />
<ComponentRef Id="cmp_9" />
<ComponentRef Id="cmp_10" />
<ComponentRef Id="cmp_11" />
<ComponentRef Id="cmp_12" />
<ComponentRef Id="cmp_13" />
<ComponentRef Id="cmp_14" />
<ComponentRef Id="cmp_15" />
<ComponentRef Id="cmp_16" />
<ComponentRef Id="cmp_17" />
<ComponentRef Id="cmp_18" />
<ComponentRef Id="cmp_19" />
<ComponentRef Id="cmp_20" />
<ComponentRef Id="cmp_21" />
<ComponentRef Id="cmp_22" />
<ComponentRef Id="cmp_23" />
<ComponentRef Id="cmp_24" />
<ComponentRef Id="cmp_25" />
<ComponentRef Id="cmp_26" />
<ComponentRef Id="cmp_27" />
<ComponentRef Id="cmp_28" />
<ComponentRef Id="cmp_29" />
<ComponentRef Id="cmp_30" />
<ComponentRef Id="cmp_31" />
<ComponentRef Id="cmp_32" />
<ComponentRef Id="cmp_33" />
<ComponentRef Id="cmp_34" />
<ComponentRef Id="cmp_35" />
<ComponentRef Id="cmp_36" />
<ComponentRef Id="cmp_37" />
    </ComponentGroup>
  </Fragment>
</Wix>
