[global]
type=global
user_agent=VigiSensys-Asterisk-PoC

[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060
local_net=${ASTERISK_LOCAL_NET}
external_signaling_address=${ASTERISK_EXTERNAL_ADDRESS}
external_media_address=${ASTERISK_EXTERNAL_ADDRESS}

[ovh-auth]
type=auth
auth_type=userpass
username=${OVH_SIP_AUTH_USERNAME}
password=${OVH_SIP_PASSWORD}

[ovh-aor]
type=aor
contact=sip:${OVH_SIP_DOMAIN}
outbound_proxy=sip:${OVH_SIP_OUTBOUND_PROXY}\;lr
qualify_frequency=60
qualify_timeout=3

[ovh]
type=endpoint
transport=transport-udp
context=from-ovh
disallow=all
allow=alaw
allow=ulaw
outbound_auth=ovh-auth
aors=ovh-aor
from_user=${OVH_SIP_USERNAME}
from_domain=${OVH_SIP_DOMAIN}
outbound_proxy=sip:${OVH_SIP_OUTBOUND_PROXY}\;lr
direct_media=no
force_rport=yes
rewrite_contact=yes
rtp_symmetric=yes

[ovh-registration]
type=registration
transport=transport-udp
outbound_auth=ovh-auth
server_uri=sip:${OVH_SIP_DOMAIN}
client_uri=sip:${OVH_SIP_USERNAME}@${OVH_SIP_DOMAIN}
contact_user=${OVH_SIP_USERNAME}
outbound_proxy=sip:${OVH_SIP_OUTBOUND_PROXY}\;lr
retry_interval=30
forbidden_retry_interval=300
expiration=3600
max_retries=20
line=yes
endpoint=ovh
