CREATE TABLE `ts_compteur_id_backup` (
  `Compteur` char(50) DEFAULT NULL,
  `Id_mesure` int DEFAULT NULL,
  `Id_journal` int DEFAULT NULL,
  `Id_mesure_histo` int DEFAULT NULL,
  `Id_journal_histo` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3;
CREATE TABLE `ts_compteur_idtable` (
  `IdServeurBDD` int NOT NULL,
  `NomTable` varchar(100) NOT NULL DEFAULT '',
  `CompteurID` int NOT NULL,
  PRIMARY KEY (`IdServeurBDD`,`NomTable`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
CREATE TABLE `ts_graphique` (
  `IdGraphique` int NOT NULL AUTO_INCREMENT,
  `DateHeureMesure` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `Valeur` double DEFAULT '0',
  `Resistance` double DEFAULT '0',
  `Nb_decimal` tinyint DEFAULT '0',
  `Consigne` double DEFAULT '0',
  `Consigne_Sup` double DEFAULT NULL,
  `Consigne_Inf` double DEFAULT NULL,
  `Unite` varchar(10) DEFAULT NULL,
  `SondeNumeroSerie` varchar(50) DEFAULT NULL,
  `IdLieu` int NOT NULL,
  `ValeurNull` tinyint NOT NULL DEFAULT '0',
  `Frequence` int DEFAULT '0',
  `Etat_Alarme` tinyint NOT NULL DEFAULT '0',
  `Consigne_Inf_PreAlarme` double DEFAULT NULL,
  `Consigne_Sup_PreAlarme` double DEFAULT NULL,
  PRIMARY KEY (`IdGraphique`,`DateHeureMesure`,`IdLieu`,`ValeurNull`,`Etat_Alarme`),
  KEY `WDIDX_ts_graphique_DateHeureMesure` (`DateHeureMesure`),
  KEY `WDIDX_ts_graphique_IdLieu` (`IdLieu`),
  KEY `WDIDX_ts_graphique_Etat_Alarme` (`Etat_Alarme`),
  KEY `Graphique_ValeurNull` (`ValeurNull`)
) ENGINE=InnoDB AUTO_INCREMENT=1043942 DEFAULT CHARSET=latin1;
CREATE TABLE `ts_journal` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdJournal` int NOT NULL DEFAULT '0',
  `CodeJournal` varchar(50) DEFAULT '',
  `Commentaire` longtext,
  `NomUtilisateur` varchar(50) DEFAULT '',
  `ProfilUtilisateur` varchar(50) DEFAULT '',
  `DateHeureJournal` datetime DEFAULT NULL,
  `IdLieu` int DEFAULT NULL,
  `CommentaireUtilisateur` longtext,
  PRIMARY KEY (`IdServeurBDD`,`IdJournal`),
  KEY `Journal_CodeJournal_IDX` (`CodeJournal`),
  KEY `Journal_Nomutilisateur_IDX` (`NomUtilisateur`),
  KEY `Journal_ProfilUtilisateur_IDX` (`ProfilUtilisateur`),
  KEY `Journal_DateHeure_IDX` (`DateHeureJournal`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_journal_code` (
  `CodeJournal` varchar(50) NOT NULL,
  `Commentaire` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`CodeJournal`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_journalhisto` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdJournal` int NOT NULL DEFAULT '0',
  `CodeJournal` varchar(50) DEFAULT '',
  `Commentaire` longtext,
  `NomUtilisateur` varchar(50) DEFAULT '',
  `ProfilUtilisateur` varchar(50) DEFAULT '',
  `DateHeureJournal` datetime DEFAULT NULL,
  `IdLieu` int DEFAULT NULL,
  `CommentaireUtilisateur` longtext,
  PRIMARY KEY (`IdServeurBDD`,`IdJournal`),
  KEY `Journal_CodeJournal_IDX` (`CodeJournal`),
  KEY `Journal_Nomutilisateur_IDX` (`NomUtilisateur`),
  KEY `Journal_ProfilUtilisateur_IDX` (`ProfilUtilisateur`),
  KEY `Journal_DateHeure_IDX` (`DateHeureJournal`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_logmesures` (
  `IdLogMesures` int NOT NULL AUTO_INCREMENT,
  `IdReception` int DEFAULT NULL,
  `DateHeureMesure` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `Valeur` double DEFAULT NULL,
  `bEstHorsConsignes` tinyint DEFAULT NULL,
  `bEstEnAlarme` tinyint DEFAULT NULL,
  `bMarqueur` tinyint DEFAULT NULL,
  `Details` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`IdLogMesures`),
  KEY `WDIDX_Ts_LogMesures_IdReception` (`IdReception`),
  KEY `WDIDX_Ts_LogMesures_DateHeureMesure` (`DateHeureMesure`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesure` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesure` int NOT NULL DEFAULT '0',
  `DateHeureMesure` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `Valeur` double(22,2) DEFAULT NULL,
  `Resistance` double(22,2) DEFAULT NULL,
  `Nb_decimal` tinyint DEFAULT NULL,
  `Consigne` double(22,2) DEFAULT NULL,
  `Consigne_Sup` double(22,2) DEFAULT NULL,
  `Consigne_Inf` double(22,2) DEFAULT NULL,
  `Unite` varchar(10) DEFAULT '',
  `SondeNumeroSerie` varchar(50) DEFAULT '',
  `IdLieu` int NOT NULL DEFAULT '0',
  `ValeurNull` tinyint NOT NULL DEFAULT '0',
  `Frequence` int DEFAULT NULL,
  `Etat_Alarme` tinyint(1) DEFAULT '0',
  `Consigne_Inf_PreAlarme` double(22,2) DEFAULT NULL,
  `Consigne_Sup_PreAlarme` double(22,2) DEFAULT NULL,
  `Moyenne` double(22,2) DEFAULT NULL,
  PRIMARY KEY (`IdServeurBDD`,`IdMesure`,`DateHeureMesure`,`IdLieu`,`ValeurNull`) USING BTREE,
  KEY `Mesure_Date_mesure_IDX` (`DateHeureMesure`),
  KEY `Mesure_Etat_Alarme_IDX` (`Etat_Alarme`),
  KEY `Mesure_Numero_lieu_IDX` (`IdLieu`),
  KEY `Mesure_date_lieu` (`DateHeureMesure`,`IdLieu`),
  KEY `Mesure_lieu` (`IdLieu`),
  KEY `Mesure_ValeurNull` (`ValeurNull`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesurecalibrage` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesureCalibrage` int NOT NULL DEFAULT '0',
  `Valeur` varchar(50) NOT NULL DEFAULT '',
  `Resistance` varchar(50) NOT NULL DEFAULT '',
  `SondeNumeroSerie` varchar(50) NOT NULL DEFAULT '',
  `ValeurNull` tinyint NOT NULL,
  `DateHeure` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`IdServeurBDD`,`IdMesureCalibrage`),
  KEY `WDIDX_MesureCE_Valeur` (`Valeur`),
  KEY `WDIDX_MesureCE_Resistance` (`Resistance`),
  KEY `WDIDX_MesureCE_ValeurNull` (`ValeurNull`),
  KEY `WDIDX_MesureCE_DateHeure` (`DateHeure`),
  KEY `Sonde` (`SondeNumeroSerie`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesurecalibrageetalon` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesureCalibrageEtalon` int NOT NULL DEFAULT '0',
  `Valeur` varchar(50) NOT NULL DEFAULT '',
  `Resistance` varchar(50) NOT NULL DEFAULT '',
  `EtalonNumeroSerie` varchar(50) NOT NULL DEFAULT '',
  `ValeurNull` tinyint NOT NULL,
  `DateHeure` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`IdServeurBDD`,`IdMesureCalibrageEtalon`),
  KEY `WDIDX_MesureCE_Valeur` (`Valeur`),
  KEY `WDIDX_MesureCE_Resistance` (`Resistance`),
  KEY `WDIDX_MesureCE_ValeurNull` (`ValeurNull`),
  KEY `WDIDX_MesureCE_DateHeure` (`DateHeure`),
  KEY `Etalon` (`EtalonNumeroSerie`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesureetalon` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesureEtalon` int NOT NULL DEFAULT '0',
  `Resistance` double(22,2) NOT NULL,
  `EtalonNumeroSerie` varchar(50) NOT NULL DEFAULT '',
  `ValeurNull` tinyint NOT NULL,
  `DateHeure` datetime NOT NULL,
  `Message_Erreur` varchar(50) NOT NULL DEFAULT '',
  PRIMARY KEY (`IdServeurBDD`,`IdMesureEtalon`),
  KEY `WDIDX_MesureEtalon_Resistance` (`Resistance`),
  KEY `WDIDX_MesureEtalon_Sonde` (`EtalonNumeroSerie`),
  KEY `WDIDX_MesureEtalon_ValeurNull` (`ValeurNull`),
  KEY `WDIDX_MesureEtalon_DateHeure` (`DateHeure`),
  KEY `WDIDX_MesureEtalon_Message_Erreur` (`Message_Erreur`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesureetalonnage` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesureEtalonnage` int NOT NULL DEFAULT '0',
  `SondeNumeroserie` varchar(50) DEFAULT NULL,
  `NumeroOrdre` int DEFAULT NULL,
  `MesureSonde` varchar(50) DEFAULT NULL,
  `MesureEtalon` varchar(50) DEFAULT NULL,
  `DateHeure` datetime DEFAULT NULL,
  PRIMARY KEY (`IdServeurBDD`,`IdMesureEtalonnage`),
  KEY `MesureSonde_IdEtalonnage_IDX` (`SondeNumeroserie`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesurehisto` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesure` int NOT NULL DEFAULT '0',
  `DateHeureMesure` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',
  `Valeur` double(22,2) DEFAULT NULL,
  `Resistance` double(22,2) DEFAULT NULL,
  `Nb_decimal` tinyint DEFAULT NULL,
  `Consigne` double(22,2) DEFAULT NULL,
  `Consigne_Sup` double(22,2) DEFAULT NULL,
  `Consigne_Inf` double(22,2) DEFAULT NULL,
  `Unite` varchar(10) DEFAULT '',
  `SondeNumeroSerie` varchar(50) DEFAULT '',
  `IdLieu` int NOT NULL DEFAULT '0',
  `ValeurNull` tinyint NOT NULL DEFAULT '0',
  `Frequence` int DEFAULT NULL,
  `Etat_Alarme` tinyint(1) DEFAULT '0',
  `Consigne_Inf_PreAlarme` double(22,2) DEFAULT NULL,
  `Consigne_Sup_PreAlarme` double(22,2) DEFAULT NULL,
  `Moyenne` double(22,2) DEFAULT NULL,
  PRIMARY KEY (`IdServeurBDD`,`IdMesure`,`DateHeureMesure`,`IdLieu`,`ValeurNull`) USING BTREE,
  KEY `Mesure_Date_mesure_IDX` (`DateHeureMesure`),
  KEY `Mesure_Etat_Alarme_IDX` (`Etat_Alarme`),
  KEY `Mesure_Numero_lieu_IDX` (`IdLieu`),
  KEY `Mesure_date_lieu` (`DateHeureMesure`,`IdLieu`),
  KEY `Mesure_lieu` (`IdLieu`),
  KEY `Mesure_ValeurNull` (`ValeurNull`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesuretest` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesureTest` int NOT NULL DEFAULT '0',
  `Resistance` double(22,2) NOT NULL,
  `SondeNumeroSerie` varchar(50) NOT NULL DEFAULT '',
  `ValeurNull` tinyint NOT NULL,
  `DateHeure` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `NombreTotal` int NOT NULL DEFAULT '0',
  `NombreRecu` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`IdServeurBDD`,`IdMesureTest`),
  UNIQUE KEY `Sonde` (`SondeNumeroSerie`),
  KEY `WDIDX_MesureTest_ValeurNull` (`ValeurNull`),
  KEY `WDIDX_MesureTest_DateHeure` (`DateHeure`),
  KEY `WDIDX_MesureTest_NombreTotal` (`NombreTotal`),
  KEY `WDIDX_MesureTest_NombreRecu` (`NombreRecu`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_mesuretestetalon` (
  `IdServeurBDD` int NOT NULL DEFAULT '0',
  `IdMesureTestEtalon` int NOT NULL DEFAULT '0',
  `Resistance` double(22,2) NOT NULL,
  `EtalonNumeroSerie` varchar(50) NOT NULL DEFAULT '',
  `ValeurNull` tinyint NOT NULL,
  `DateHeure` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `NombreTotal` int NOT NULL DEFAULT '0',
  `NombreRecu` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`IdServeurBDD`,`IdMesureTestEtalon`),
  UNIQUE KEY `Etalon` (`EtalonNumeroSerie`),
  KEY `WDIDX_MesureTest_ValeurNull` (`ValeurNull`),
  KEY `WDIDX_MesureTest_DateHeure` (`DateHeure`),
  KEY `WDIDX_MesureTest_NombreTotal` (`NombreTotal`),
  KEY `WDIDX_MesureTest_NombreRecu` (`NombreRecu`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_modedegrade` (
  `IdModeDegrade` int NOT NULL DEFAULT '0',
  `IdUtilisateur` int DEFAULT NULL,
  `DateHeureCreation` datetime DEFAULT NULL,
  `RequeteSQL` varchar(500) DEFAULT NULL,
  `RequeteArchivee` tinyint(1) NOT NULL DEFAULT '0',
  `DateHeureArchive` datetime DEFAULT NULL,
  PRIMARY KEY (`IdModeDegrade`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `ts_parametre` (
  `CleParametre` varchar(20) NOT NULL DEFAULT '',
  `ValeurParametre` varchar(50) DEFAULT NULL,
  `GroupeParametre` varchar(50) DEFAULT NULL,
  `CommentaireParametre` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`CleParametre`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `liste_clients` (
  `IDClient` int NOT NULL DEFAULT '2',
  `Nom` varchar(50) DEFAULT 'MC2',
  `Num_Compte` varchar(50) DEFAULT '9633000000',
  `VigiServ_Dernier_Date_Heure` longtext,
  `VigiTel_Dernier_Date_Heure` longtext,
  PRIMARY KEY (`IDClient`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_actionneur` (
  `IdActionneur` int NOT NULL AUTO_INCREMENT,
  `Num_Serie` varchar(50) DEFAULT NULL,
  `Type` int DEFAULT NULL,
  `Etat` tinyint(1) DEFAULT '0',
  `Demande` tinyint(1) DEFAULT '0',
  `Commentaire` varchar(255) DEFAULT NULL,
  `Port_serie` smallint DEFAULT NULL,
  `IdModule` int DEFAULT NULL,
  `Relai_1` varchar(50) DEFAULT NULL,
  `Relai_2` varchar(50) DEFAULT NULL,
  `Relai_3` varchar(50) DEFAULT NULL,
  `Relai_4` varchar(50) DEFAULT NULL,
  `Test` tinyint(1) DEFAULT '0',
  `Lib_Erreur` varchar(50) DEFAULT NULL,
  `IdPlan` int DEFAULT NULL,
  `Position_Plan_X` bigint DEFAULT NULL,
  `Position_Plan_Y` bigint DEFAULT NULL,
  `Archive` tinyint(1) DEFAULT '0',
  `IDserveur` int DEFAULT '1',
  PRIMARY KEY (`IdActionneur`),
  KEY `Actionneur_Num_Serie_IDX` (`Num_Serie`),
  KEY `Actionneur_Type_IDX` (`Type`),
  KEY `Actionneur_Etat_IDX` (`Etat`),
  KEY `Actionneur_IDModule_IDX` (`IdModule`),
  KEY `Actionneur_IDPlan_IDX` (`IdPlan`),
  CONSTRAINT `FK_MODULE_ACTIONNEUR` FOREIGN KEY (`IdModule`) REFERENCES `t_module` (`IdModule`),
  CONSTRAINT `FK_PLAN_ACTIONNEUR` FOREIGN KEY (`IdPlan`) REFERENCES `t_plan` (`IdPlan`),
  CONSTRAINT `FK_TYPE_ACTIONNEUR` FOREIGN KEY (`Type`) REFERENCES `t_actionneurtype` (`Type`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=latin1;
CREATE TABLE `t_actionneurtype` (
  `Type` int NOT NULL,
  `Description` varchar(50) DEFAULT NULL,
  `IMAGE` longblob,
  `GereRelais` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`Type`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_alarme` (
  `IdAlarme` int NOT NULL AUTO_INCREMENT,
  `DateHeureDebut` datetime DEFAULT NULL,
  `Valeur` double DEFAULT NULL,
  `Type` varchar(1) DEFAULT NULL COMMENT 'Type Alarme',
  `DateHeureFin` datetime DEFAULT NULL,
  `Alarme_Vrai` tinyint(1) DEFAULT '0',
  `IdLieu` int DEFAULT NULL,
  `SondeNumeroSerie` varchar(50) DEFAULT NULL,
  `Unite` varchar(10) DEFAULT NULL,
  `Acquite` tinyint(1) DEFAULT '0',
  `DateHeureDerniereMesure` datetime DEFAULT NULL,
  `DateHeureDebutAlarme_Vrai` datetime DEFAULT NULL,
  `AlarmePourVigiTel` tinyint(1) DEFAULT '0',
  `MailEnvoye` tinyint(1) DEFAULT NULL,
  `TelAcquite` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`IdAlarme`),
  KEY `Alarme_Date_Heure_Alarme_IDX` (`DateHeureDebut`),
  KEY `Alarme_Valeur_IDX` (`Valeur`),
  KEY `Alarme_Type_Alarme_IDX` (`Type`),
  KEY `Alarme_Date_Heure_Fin_Alar_IDX` (`DateHeureFin`),
  KEY `Alarme_Alarme_Vrai_IDX` (`Alarme_Vrai`),
  KEY `Alarme_Numero_lieu_IDX` (`IdLieu`),
  KEY `Alarme_Num_Sonde_IDX` (`SondeNumeroSerie`),
  KEY `Alarme_Unite_IDX` (`Unite`),
  KEY `Alarme_Acquite_IDX` (`Acquite`),
  KEY `Alarme_Date_heure_Derniere_IDX` (`DateHeureDerniereMesure`),
  KEY `Alarme_Date_heure_Debut_Al_IDX` (`DateHeureDebutAlarme_Vrai`),
  CONSTRAINT `FK_LIEU_ALARME` FOREIGN KEY (`IdLieu`) REFERENCES `t_lieu` (`IdLieu`)
) ENGINE=InnoDB AUTO_INCREMENT=2704024 DEFAULT CHARSET=latin1;
CREATE TABLE `t_alarme_archive` (
  `IdAlarme` int NOT NULL AUTO_INCREMENT,
  `DateHeureDebut` datetime DEFAULT NULL,
  `Valeur` double DEFAULT NULL,
  `Type` varchar(1) DEFAULT NULL COMMENT 'Type Alarme',
  `DateHeureFin` datetime DEFAULT NULL,
  `Alarme_Vrai` tinyint(1) DEFAULT '0',
  `IdLieu` int DEFAULT NULL,
  `SondeNumeroSerie` varchar(50) DEFAULT NULL,
  `Unite` varchar(10) DEFAULT NULL,
  `Acquite` tinyint(1) DEFAULT '1',
  `DateHeureDerniereMesure` datetime DEFAULT NULL,
  `AlarmePourVigiTel` tinyint(1) DEFAULT '0',
  `MailEnvoye` tinyint(1) DEFAULT NULL,
  `TelAcquite` tinyint(1) DEFAULT NULL,
  `DateHeureArchiveAlarme` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`IdAlarme`),
  KEY `Alarme_Date_Heure_Alarme_IDX` (`DateHeureDebut`),
  KEY `Alarme_Valeur_IDX` (`Valeur`),
  KEY `Alarme_Type_Alarme_IDX` (`Type`),
  KEY `Alarme_Date_Heure_Fin_Alar_IDX` (`DateHeureFin`),
  KEY `Alarme_Alarme_Vrai_IDX` (`Alarme_Vrai`),
  KEY `Alarme_Numero_lieu_IDX` (`IdLieu`),
  KEY `Alarme_Num_Sonde_IDX` (`SondeNumeroSerie`),
  KEY `Alarme_Unite_IDX` (`Unite`),
  KEY `Alarme_Acquite_IDX` (`Acquite`),
  KEY `Alarme_Date_heure_Derniere_IDX` (`DateHeureDerniereMesure`),
  KEY `Alarme_Date_heure_Debut_Al_IDX` (`DateHeureArchiveAlarme`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=2088 DEFAULT CHARSET=latin1;
CREATE TABLE `t_alarme_message` (
  `IdAlarmeMessage` int NOT NULL AUTO_INCREMENT,
  `CodeAlarmeMessage` varchar(20) DEFAULT NULL,
  `Type` varchar(1) DEFAULT NULL COMMENT 'Code historique identifiant le fichier wav a jouer',
  `TexteMessage` longtext,
  PRIMARY KEY (`IdAlarmeMessage`),
  UNIQUE KEY `CodeAlarmeMessage` (`CodeAlarmeMessage`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=latin1;
CREATE TABLE `t_ancienmotpasse` (
  `IdAncienMotPasse` int NOT NULL AUTO_INCREMENT,
  `IdUtilisateur` int DEFAULT NULL,
  `MotDePasse` varchar(32) DEFAULT NULL,
  PRIMARY KEY (`IdAncienMotPasse`),
  KEY `IdUtilisateur` (`IdUtilisateur`),
  CONSTRAINT `FK_UTILISATEUR_ANCIENMDP_new` FOREIGN KEY (`IdUtilisateur`) REFERENCES `t_utilisateur` (`IdUtilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=510 DEFAULT CHARSET=latin1;
CREATE TABLE `t_autorisation` (
  `IdAutorisation` int NOT NULL AUTO_INCREMENT,
  `CodeAutorisation` varchar(50) NOT NULL,
  `LibelleAutorisation` varchar(50) DEFAULT NULL,
  `Commentaire` varchar(200) DEFAULT NULL,
  `fenAdmin` tinyint(1) DEFAULT '0',
  `fenMetrologie` tinyint(1) DEFAULT '0',
  `fenSurveillance` tinyint(1) DEFAULT '0',
  `fenVigiLog` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`IdAutorisation`),
  KEY `autorisation_CodeAutorisation_IDX` (`CodeAutorisation`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=latin1;
CREATE TABLE `t_bain` (
  `IdBain` int NOT NULL AUTO_INCREMENT,
  `Model` varchar(50) DEFAULT NULL,
  `Reference` varchar(50) DEFAULT NULL,
  `Stablilite` float DEFAULT NULL,
  `Homogeneite` float DEFAULT NULL,
  `Contenu` varchar(50) DEFAULT NULL,
  `ReserveMC2` tinyint(1) DEFAULT '0',
  `Archive` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`IdBain`),
  KEY `Bain_Model_IDX` (`Model`),
  KEY `Bain_Reference_IDX` (`Reference`)
) ENGINE=InnoDB AUTO_INCREMENT=51 DEFAULT CHARSET=latin1;
CREATE TABLE `t_calibrage` (
  `DateHeureCalibrage` datetime DEFAULT NULL,
  `IdCalibrage` int NOT NULL AUTO_INCREMENT,
  `SondeNumeroSerie` varchar(50) DEFAULT NULL,
  `Coeff_X2` double DEFAULT NULL,
  `Coeff_X` double DEFAULT NULL,
  `Coeff_Constant` double DEFAULT NULL,
  `Unite` varchar(10) DEFAULT NULL,
  `Nb_Decimale` tinyint DEFAULT NULL,
  `Operateur` varchar(255) DEFAULT NULL,
  `SE_Num` varchar(50) DEFAULT NULL,
  `SE_Oganisme` varchar(50) DEFAULT NULL,
  `SE_Date_Certif` date DEFAULT NULL,
  `SE_Num_Certif` varchar(50) DEFAULT NULL,
  `MesureEtalon1` varchar(50) DEFAULT NULL,
  `MesureEtalon2` varchar(50) DEFAULT NULL,
  `Resistance1` varchar(50) DEFAULT NULL,
  `Resistance2` varchar(50) DEFAULT NULL,
  `AncienneMesure1` varchar(50) DEFAULT NULL,
  `AncienneMesure2` varchar(50) DEFAULT NULL,
  `NouvelleMesure1` varchar(50) DEFAULT NULL,
  `NouvelleMesure2` varchar(50) DEFAULT NULL,
  `IdBain` int DEFAULT NULL,
  PRIMARY KEY (`IdCalibrage`),
  KEY `Calibrage_Date_calibrage_IDX` (`DateHeureCalibrage`),
  KEY `Calibrage_Numero_serie_IDX` (`SondeNumeroSerie`),
  KEY `Calibrage_SE_Num_IDX` (`SE_Num`),
  KEY `Calibrage_IdBain_IDX` (`IdBain`),
  CONSTRAINT `FK_BAIN_CALIBRAGE` FOREIGN KEY (`IdBain`) REFERENCES `t_bain` (`IdBain`),
  CONSTRAINT `FK_SONDE_CALIBRAGE` FOREIGN KEY (`SondeNumeroSerie`) REFERENCES `t_sonde` (`SondeNumeroSerie`)
) ENGINE=InnoDB AUTO_INCREMENT=41239 DEFAULT CHARSET=latin1;
CREATE TABLE `t_certif` (
  `IdCertif` int NOT NULL AUTO_INCREMENT,
  `Numero` varchar(50) DEFAULT NULL,
  `Organisme` varchar(50) DEFAULT NULL,
  `Date` date DEFAULT NULL,
  `EtalonNumeroSerie` varchar(50) DEFAULT NULL,
  `Unite` varchar(10) DEFAULT NULL,
  `IdPDF` int DEFAULT NULL,
  PRIMARY KEY (`IdCertif`),
  KEY `Certif_Numero_IDX` (`Numero`),
  KEY `Certif_Organisme_IDX` (`Organisme`),
  KEY `Certif_Date_IDX` (`Date`),
  KEY `Certif_Num_Serie_IDX` (`EtalonNumeroSerie`),
  KEY `Certif_Unite_IDX` (`Unite`),
  KEY `Certif_IdPDF_IDX` (`IdPDF`),
  CONSTRAINT `FK_ETALON_CERTIF` FOREIGN KEY (`EtalonNumeroSerie`) REFERENCES `t_etalon` (`EtalonNumeroSerie`),
  CONSTRAINT `FK_PDF_CERTIF` FOREIGN KEY (`IdPDF`) REFERENCES `t_pdf` (`IdPDF`)
) ENGINE=InnoDB AUTO_INCREMENT=552 DEFAULT CHARSET=latin1;
CREATE TABLE `t_certif_mesure` (
  `IdCertifMesure` int NOT NULL AUTO_INCREMENT,
  `IdCertif` int DEFAULT NULL,
  `NumeroOrdre` tinyint DEFAULT NULL,
  `TemperatureVraie` varchar(50) DEFAULT NULL,
  `TemperatureReference` varchar(50) DEFAULT NULL,
  `Incertitude` float DEFAULT NULL,
  PRIMARY KEY (`IdCertifMesure`),
  KEY `CertifMesure_IdCertif_IDX` (`IdCertif`),
  CONSTRAINT `FK_CERTIF_CERTIFMESURE` FOREIGN KEY (`IdCertif`) REFERENCES `t_certif` (`IdCertif`)
) ENGINE=InnoDB AUTO_INCREMENT=1612 DEFAULT CHARSET=latin1;
CREATE TABLE `t_commentaire` (
  `IdCommentaire` int NOT NULL AUTO_INCREMENT,
  `TypeCommentaire` varchar(50) DEFAULT NULL,
  `Texte` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`IdCommentaire`),
  KEY `Commentaire_Type_Commentai_IDX` (`TypeCommentaire`),
  KEY `Commentaire_Texte_IDX` (`Texte`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=latin1;
CREATE TABLE `t_etalon` (
  `IdEtalon` int NOT NULL AUTO_INCREMENT,
  `EtalonNumeroSerie` varchar(50) DEFAULT NULL,
  `Archive` tinyint(1) DEFAULT '0',
  `Etat_Etalon` varchar(1) DEFAULT NULL,
  `Port_serie` int DEFAULT NULL,
  `Sonde_Externe` tinyint(1) DEFAULT '0',
  `Resolution` float DEFAULT NULL,
  `Incertitude` float DEFAULT NULL,
  `Nb_Decimale` tinyint(1) DEFAULT NULL,
  `ReserveMC2` tinyint(1) DEFAULT '0',
  `IDserveur` int DEFAULT '1',
  `IDmodule` int DEFAULT NULL,
  PRIMARY KEY (`IdEtalon`),
  UNIQUE KEY `EtalonNumeroSerie_IDX` (`EtalonNumeroSerie`)
) ENGINE=InnoDB AUTO_INCREMENT=246 DEFAULT CHARSET=latin1;
CREATE TABLE `t_etalonnage` (
  `IdEtalonnage` int NOT NULL AUTO_INCREMENT,
  `DateHeureEtalonnage` datetime DEFAULT NULL,
  `SondeNumeroserie` varchar(50) DEFAULT NULL,
  `Date_Validite` date DEFAULT NULL,
  `Operateur` varchar(255) DEFAULT NULL,
  `EtalonNumeroSerie` varchar(50) DEFAULT NULL,
  `Date_Certif` date DEFAULT NULL,
  `Organisme` varchar(50) DEFAULT NULL,
  `Num_Certif` varchar(50) DEFAULT NULL,
  `Unite` varchar(50) DEFAULT NULL,
  `Incertitude` varchar(50) DEFAULT NULL,
  `Moyenne_Etalon` double DEFAULT NULL,
  `Moyenne_Sonde` double DEFAULT NULL,
  `Repetabilite` varchar(50) DEFAULT NULL,
  `IdPDF` int DEFAULT NULL COMMENT 'PDF Certificat d''talonnage',
  `IdBain` int DEFAULT NULL,
  `ErrJustesse` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`IdEtalonnage`),
  KEY `Etalonnage_Date_etalonnage_IDX` (`DateHeureEtalonnage`),
  KEY `Etalonnage_Numero_serie_IDX` (`SondeNumeroserie`),
  KEY `Etalonnage_Num_Sonde_Etalo_IDX` (`EtalonNumeroSerie`),
  KEY `Etalonnage_Date_Certif_IDX` (`Date_Certif`),
  KEY `Etalonnage_Organisme_IDX` (`Organisme`),
  KEY `Etalonnage_Num_Certif_IDX` (`Num_Certif`),
  KEY `Etalonnage_Unite_IDX` (`Unite`),
  KEY `Etalonnage_Incertitude_IDX` (`Incertitude`),
  KEY `Etalonnage_Moyenne_Etalon_IDX` (`Moyenne_Etalon`),
  KEY `Etalonnage_Moyenne_Sonde_IDX` (`Moyenne_Sonde`),
  KEY `Etalonnage_Repetabilite_IDX` (`Repetabilite`),
  KEY `Etalonnage_IdPDF_IDX` (`IdPDF`),
  KEY `Etalonnage_IdBain_IDX` (`IdBain`),
  CONSTRAINT `FK_BAIN_ETALONNAGE` FOREIGN KEY (`IdBain`) REFERENCES `t_bain` (`IdBain`),
  CONSTRAINT `FK_PDF_ETALONNAGE` FOREIGN KEY (`IdPDF`) REFERENCES `t_pdf` (`IdPDF`),
  CONSTRAINT `FK_SONDE_ETALONNAGE` FOREIGN KEY (`SondeNumeroserie`) REFERENCES `t_sonde` (`SondeNumeroSerie`)
) ENGINE=InnoDB AUTO_INCREMENT=4316 DEFAULT CHARSET=latin1;
CREATE TABLE `t_etalonnage_mesure` (
  `IdEtalonnageMesureSonde` int NOT NULL AUTO_INCREMENT,
  `IdEtalonnage` int DEFAULT NULL,
  `NumeroOrdre` tinyint DEFAULT NULL,
  `MesureSonde` varchar(50) DEFAULT NULL,
  `MesureEtalon` varchar(50) DEFAULT NULL,
  `DateHeureMesure` datetime DEFAULT NULL,
  PRIMARY KEY (`IdEtalonnageMesureSonde`),
  KEY `MesureSonde_IdEtalonnage_IDX` (`IdEtalonnage`),
  CONSTRAINT `FK_ETALONNAGE_MESURESONDE` FOREIGN KEY (`IdEtalonnage`) REFERENCES `t_etalonnage` (`IdEtalonnage`)
) ENGINE=InnoDB AUTO_INCREMENT=43075 DEFAULT CHARSET=latin1;
CREATE TABLE `t_etalontype` (
  `TypeEtalon` varchar(3) NOT NULL,
  `Nom` varchar(30) DEFAULT NULL,
  `Descriptif` varchar(100) DEFAULT NULL,
  `IdType` tinyint DEFAULT NULL,
  `Image` longblob,
  `SaisieModule` tinyint(1) DEFAULT '0',
  `SondExterne` tinyint(1) DEFAULT '0',
  `Resolution` float(9,3) DEFAULT NULL,
  PRIMARY KEY (`TypeEtalon`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_groupe` (
  `IdGroupe` int NOT NULL AUTO_INCREMENT,
  `NomGroupe` varchar(64) DEFAULT NULL,
  `NumeroRegroupement` enum('1','2') NOT NULL DEFAULT '1',
  `Archive` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`IdGroupe`),
  UNIQUE KEY `Groupe_NomGroupe_IDX` (`NomGroupe`),
  KEY `Groupe_NumeroRegroupement_IDX` (`NumeroRegroupement`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=latin1;
CREATE TABLE `t_liaison_profil_autorisation` (
  `IdProfil` int NOT NULL,
  `IdAutorisation` int NOT NULL,
  PRIMARY KEY (`IdProfil`,`IdAutorisation`),
  KEY `IdProfil_IDX` (`IdProfil`),
  KEY `IdAutorisation_IDX` (`IdAutorisation`),
  CONSTRAINT `FK_AUTORISATION_LIAISON` FOREIGN KEY (`IdAutorisation`) REFERENCES `t_autorisation` (`IdAutorisation`),
  CONSTRAINT `FK_PROFIL_LIAISON` FOREIGN KEY (`IdProfil`) REFERENCES `t_profil` (`IdProfil`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_liaison_sonde_type_mesure` (
  `IdLiaison` int NOT NULL AUTO_INCREMENT,
  `SondeType` varchar(1) DEFAULT NULL,
  `SondeTypeMesure` varchar(1) DEFAULT NULL,
  `Image` longblob,
  PRIMARY KEY (`IdLiaison`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=latin1;
CREATE TABLE `t_liaison_utilisateur_groupe` (
  `IdLiaison` int NOT NULL AUTO_INCREMENT,
  `IdUtilisateur` int NOT NULL,
  `IdGroupe` int DEFAULT NULL,
  PRIMARY KEY (`IdLiaison`),
  KEY `IdUtilisateur_IDX` (`IdUtilisateur`),
  KEY `IdGroupe_IDX` (`IdGroupe`),
  CONSTRAINT `FK_GROUPE_LIAISON` FOREIGN KEY (`IdGroupe`) REFERENCES `t_groupe` (`IdGroupe`),
  CONSTRAINT `FK_UTILISATEUR_LIAISON` FOREIGN KEY (`IdUtilisateur`) REFERENCES `t_utilisateur` (`IdUtilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=1293 DEFAULT CHARSET=latin1;
CREATE TABLE `t_lieu` (
  `IdLieu` int NOT NULL AUTO_INCREMENT,
  `IdGroupe1` int DEFAULT NULL,
  `IdGroupe2` int DEFAULT NULL,
  `Nom_Lieu` varchar(20) DEFAULT NULL,
  `Commentaire` longtext,
  `Consigne` double DEFAULT NULL,
  `Consigne_Sup` double DEFAULT NULL,
  `Consigne_Sup_Corrigee` double DEFAULT NULL,
  `Consigne_Sup_Active` tinyint(1) DEFAULT '1',
  `Consigne_Sup_PreAlarme` double DEFAULT NULL,
  `Consigne_Sup_PreAlarme_Active` tinyint(1) DEFAULT NULL,
  `Consigne_Inf` double DEFAULT NULL,
  `Consigne_Inf_Corrigee` double DEFAULT NULL,
  `Consigne_Inf_Active` tinyint(1) DEFAULT '1',
  `Consigne_Inf_PreAlarme` double DEFAULT NULL,
  `Consigne_Inf_PreAlarme_Active` tinyint(1) DEFAULT NULL,
  `Frequence` int DEFAULT NULL,
  `Lieu_Etat` varchar(1) DEFAULT NULL,
  `Retard_alarme_haut` int DEFAULT NULL,
  `Retard_alarme_bas` int DEFAULT NULL,
  `Localisation` longtext,
  `IdPlan` int DEFAULT NULL,
  `Position_Plan_X` bigint DEFAULT NULL,
  `Position_Plan_Y` bigint DEFAULT NULL,
  `Date_Creation` date DEFAULT NULL,
  `Archive` tinyint(1) DEFAULT '0',
  `SondeNumeroSerie` varchar(50) DEFAULT NULL,
  `Tel_Actif` tinyint(1) DEFAULT '0',
  `Tel_Code` varchar(4) DEFAULT NULL,
  `Tel_Son_Lieu` varchar(260) DEFAULT NULL,
  `IdActionneur` int DEFAULT NULL,
  `ModeSerotheque` tinyint(1) DEFAULT '0',
  `CoefSensibilite` int DEFAULT NULL,
  `IdSite` int DEFAULT NULL,
  `IdPDF` int DEFAULT NULL COMMENT 'Rapport de cartographie',
  `DataLogger` tinyint(1) DEFAULT '0',
  `EMT` double(5,2) DEFAULT NULL COMMENT 'Coefficient EMT',
  `EMTChoixMode` tinyint DEFAULT '1',
  `EMTSonde` double DEFAULT NULL,
  `Retard_alarme_ChangementConsigne` int DEFAULT NULL,
  `DernierDateHeure` datetime DEFAULT NULL,
  `DernierValeur` double(22,2) DEFAULT NULL,
  `DernierUnite` varchar(10) DEFAULT NULL,
  `DernierNbDecimal` tinyint DEFAULT NULL,
  `bLieuEnAlarme` tinyint DEFAULT NULL,
  `bLieuAlarmeTermineeNonAcquitee` tinyint DEFAULT NULL,
  `bLieuEnPreAlarme` tinyint DEFAULT NULL,
  `blieuAlarmeDesactivee` tinyint DEFAULT NULL,
  `IdAlarme` int DEFAULT NULL,
  `Lieu_Etat_N1` varchar(1) DEFAULT NULL,
  `DernierDateEtalonnage` date DEFAULT NULL,
  `DernierErreurJustesse` varchar(50) DEFAULT NULL,
  `DernierIncertitude` varchar(50) DEFAULT NULL,
  `RetardNonReponse` int DEFAULT NULL,
  `DateHeureDerniereReponse` datetime DEFAULT NULL,
  `DateHeureDerniereConsigneOK` datetime DEFAULT NULL,
  `Correction_Ej` tinyint(1) DEFAULT '0',
  `Derive` double DEFAULT '0',
  `correction_derive` tinyint(1) DEFAULT '0',
  `DerniereValeurnull` int DEFAULT '0',
  PRIMARY KEY (`IdLieu`),
  KEY `Lieu_Lieu_Etat_IDX` (`Lieu_Etat`),
  KEY `Lieu_IDPlan_IDX` (`IdPlan`),
  KEY `Lieu_Date_Creation_IDX` (`Date_Creation`),
  KEY `Lieu_Archive_IDX` (`Archive`),
  KEY `Lieu_Numero_serie_IDX` (`SondeNumeroSerie`),
  KEY `Lieu_Tel_Actif_IDX` (`Tel_Actif`),
  KEY `Lieu_Tel_Code_IDX` (`Tel_Code`),
  KEY `Lieu_Tel_Son_Lieu_IDX` (`Tel_Son_Lieu`(255)),
  KEY `Lieu_IDActionneur_IDX` (`IdActionneur`),
  KEY `IdGroupe1` (`IdGroupe1`),
  KEY `IdGroupe2` (`IdGroupe2`),
  KEY `IdSite` (`IdSite`),
  KEY `IdPDF` (`IdPDF`),
  KEY `Lieu_Nom_Lieu_IDX` (`Nom_Lieu`),
  CONSTRAINT `FK_ACTIONNEUR_LIEU` FOREIGN KEY (`IdActionneur`) REFERENCES `t_actionneur` (`IdActionneur`),
  CONSTRAINT `FK_GROUPE1_LIEU` FOREIGN KEY (`IdGroupe1`) REFERENCES `t_groupe` (`IdGroupe`),
  CONSTRAINT `FK_GROUPE2_LIEU` FOREIGN KEY (`IdGroupe2`) REFERENCES `t_groupe` (`IdGroupe`),
  CONSTRAINT `FK_PDF_LIEU` FOREIGN KEY (`IdPDF`) REFERENCES `t_pdf` (`IdPDF`),
  CONSTRAINT `FK_PLAN_LIEU` FOREIGN KEY (`IdPlan`) REFERENCES `t_plan` (`IdPlan`),
  CONSTRAINT `FK_SITE_LIEU` FOREIGN KEY (`IdSite`) REFERENCES `t_site` (`IdSite`),
  CONSTRAINT `FK_SONDE_LIEU` FOREIGN KEY (`SondeNumeroSerie`) REFERENCES `t_sonde` (`SondeNumeroSerie`)
) ENGINE=InnoDB AUTO_INCREMENT=598 DEFAULT CHARSET=latin1;
CREATE TABLE `t_lieu_planning` (
  `IdLieuPlanning` int NOT NULL AUTO_INCREMENT,
  `IdLieu` int DEFAULT NULL,
  `IdJour` tinyint(1) DEFAULT NULL,
  `Actif` tinyint(1) DEFAULT '1',
  `HeureDebutPeriode1` varchar(4) DEFAULT '0000',
  `HeureFinPeriode1` varchar(4) DEFAULT '0000',
  `HeureDebutPeriode2` varchar(4) DEFAULT '0000',
  `HeureFinPeriode2` varchar(4) DEFAULT '0000',
  PRIMARY KEY (`IdLieuPlanning`),
  UNIQUE KEY `IdLieuJour` (`IdLieu`,`IdJour`),
  KEY `IdLieu` (`IdLieu`),
  CONSTRAINT `FK_LIEU_LIEUPLANNING` FOREIGN KEY (`IdLieu`) REFERENCES `t_lieu` (`IdLieu`)
) ENGINE=InnoDB AUTO_INCREMENT=5496 DEFAULT CHARSET=latin1;
CREATE TABLE `t_lieu_tel_num` (
  `IdTel_Num` int NOT NULL AUTO_INCREMENT,
  `IdLieu` int DEFAULT NULL,
  `NumeroOrdre` tinyint DEFAULT NULL,
  `IdUtilisateur` int DEFAULT NULL,
  `ViaTelephone` tinyint(1) DEFAULT NULL,
  `ViaEmail` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`IdTel_Num`),
  KEY `IdLieu` (`IdLieu`),
  KEY `IdIntervenant_NDX` (`IdUtilisateur`),
  CONSTRAINT `FK_LIEU_TELNUM` FOREIGN KEY (`IdLieu`) REFERENCES `t_lieu` (`IdLieu`)
) ENGINE=InnoDB AUTO_INCREMENT=551 DEFAULT CHARSET=latin1;
CREATE TABLE `t_logalarme` (
  `IdLogAlarme` int NOT NULL AUTO_INCREMENT,
  `IdReception` int DEFAULT NULL,
  `DateDebut` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `DateFin` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `bEstAcquitte` tinyint DEFAULT NULL,
  `Commentaire` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`IdLogAlarme`),
  KEY `WDIDX_T_logalarme_IdReception` (`IdReception`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=latin1;
CREATE TABLE `t_logcoursier` (
  `IdCoursier` int NOT NULL AUTO_INCREMENT,
  `Code` varchar(10) DEFAULT NULL,
  `Nom` varchar(64) DEFAULT NULL,
  `Prenom` varchar(64) DEFAULT NULL,
  `DateMaJ` date DEFAULT NULL,
  `HeureMaJ` time DEFAULT NULL,
  `LoginMaJ` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`IdCoursier`),
  UNIQUE KEY `Code` (`Code`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=latin1;
CREATE TABLE `t_logenvoi` (
  `IdlogEnvoi` int NOT NULL AUTO_INCREMENT,
  `IdLogReception` int DEFAULT NULL,
  `IdSite` int DEFAULT NULL,
  `Materiel` varchar(50) DEFAULT NULL,
  `DateMaJ` date DEFAULT NULL,
  `HeureMaJ` time DEFAULT NULL,
  `LoginMaJ` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`IdlogEnvoi`),
  KEY `WDIDX_T_LogEnvoi_IdLogReception` (`IdLogReception`),
  KEY `WDIDX_T_LogEnvoi_IdSite` (`IdSite`)
) ENGINE=InnoDB AUTO_INCREMENT=112 DEFAULT CHARSET=latin1;
CREATE TABLE `t_logetape` (
  `IdLogEtape` int NOT NULL AUTO_INCREMENT,
  `IdLogTournee` int DEFAULT '0',
  `Ordre` int DEFAULT NULL,
  `IdSite` int DEFAULT NULL,
  PRIMARY KEY (`IdLogEtape`),
  KEY `WDIDX_LogEtape_IdLogTournee` (`IdLogTournee`),
  CONSTRAINT `t_logetape_ibfk_1` FOREIGN KEY (`IdLogTournee`) REFERENCES `t_logtournee` (`IdLogTournee`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1;
CREATE TABLE `t_logreception` (
  `IdLogReception` int NOT NULL AUTO_INCREMENT,
  `IdTournee` varchar(50) DEFAULT NULL,
  `IdCoursier` int DEFAULT NULL,
  `IdSiteDepart` int DEFAULT '0',
  `IdSiteArrivee` int DEFAULT NULL,
  `NumserieVigiLog` varchar(13) DEFAULT NULL,
  `DateReception` date DEFAULT NULL,
  `HeureReception` time DEFAULT NULL,
  `bEnAttente` tinyint DEFAULT NULL,
  `bTermine` tinyint DEFAULT NULL,
  `DureeLivraison` int DEFAULT NULL,
  `bDepassementTemperature` tinyint DEFAULT NULL,
  `bDepassementTemps` tinyint DEFAULT NULL,
  `Consigne` double DEFAULT NULL,
  `ConsigneInfActive` tinyint DEFAULT NULL,
  `ConsigneInf` double DEFAULT NULL,
  `ConsigneSupActive` tinyint DEFAULT NULL,
  `ConsigneSup` double DEFAULT NULL,
  `RetardAlarmeTemps` int DEFAULT NULL,
  `RetardAlarmeTemperature` int DEFAULT NULL,
  `Temps` int DEFAULT NULL,
  `TemperatureMoyenne` double DEFAULT NULL,
  `TemperatureMax` double DEFAULT NULL,
  `TemperatureMin` double DEFAULT NULL,
  `SommeValeurTemperature` double DEFAULT NULL,
  `NbValeurTemperature` int DEFAULT NULL,
  `DepassementTemperature` tinyint DEFAULT NULL,
  `DepassementTemps` tinyint DEFAULT NULL,
  `CommentaireAcquittement` longtext,
  `DateEnregistrement` date DEFAULT NULL,
  `HeureEnregistrement` time DEFAULT NULL,
  `LoginEnregistrement` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`IdLogReception`),
  KEY `WDIDX_T_LogReception_IdTournee` (`IdTournee`),
  KEY `WDIDX_T_LogReception_IdCoursier` (`IdCoursier`),
  KEY `WDIDX_T_LogReception_NumserieVigiLog` (`NumserieVigiLog`),
  KEY `WDIDX_T_LogReception_IdSiteDepart` (`IdSiteDepart`),
  KEY `WDIDX_T_LogReception_IdSiteArrivee` (`IdSiteArrivee`)
) ENGINE=InnoDB AUTO_INCREMENT=171 DEFAULT CHARSET=latin1;
CREATE TABLE `t_logsonde` (
  `IdLogSonde` int NOT NULL AUTO_INCREMENT,
  `NumSerie` varchar(13) NOT NULL,
  `Consigne` double DEFAULT NULL,
  `ConsigneSupActive` tinyint DEFAULT NULL,
  `ConsigneSup` double DEFAULT NULL,
  `ConsigneSupCorrigee` double DEFAULT NULL,
  `ConsigneInfActive` tinyint DEFAULT NULL,
  `ConsigneInf` double DEFAULT NULL,
  `ConsigneInfCorrigee` double DEFAULT NULL,
  `bAvecPriseEnCompteIncertitudes` tinyint DEFAULT NULL,
  `Frequence` int DEFAULT NULL,
  `RetardAlarmeTemperature` int DEFAULT NULL,
  `CoeffX` double DEFAULT NULL,
  `CoeffConstant` double DEFAULT NULL,
  `Repetabilite` double DEFAULT NULL,
  `Incertitude` double DEFAULT NULL,
  `ErrJustesse` double DEFAULT NULL,
  `DateMaJ` date DEFAULT NULL,
  `HeureMaJ` time DEFAULT NULL,
  `LoginMaJ` varchar(64) DEFAULT NULL,
  `Archive` tinyint DEFAULT NULL,
  PRIMARY KEY (`IdLogSonde`,`NumSerie`),
  UNIQUE KEY `NumSerie` (`NumSerie`),
  KEY `WDIDX_t_logsonde_Archive` (`Archive`)
) ENGINE=InnoDB AUTO_INCREMENT=116 DEFAULT CHARSET=latin1;
CREATE TABLE `t_logtournee` (
  `IdLogTournee` int NOT NULL AUTO_INCREMENT,
  `Nom` varchar(64) DEFAULT NULL,
  `IdSiteDepart` int DEFAULT NULL,
  `IdSiteArrivee` int DEFAULT NULL,
  `Temps` int DEFAULT NULL,
  `RetardAlarmeTemps` int DEFAULT NULL,
  `DateMaJ` date DEFAULT NULL,
  `HeureMaJ` time DEFAULT NULL,
  `LoginMaJ` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`IdLogTournee`),
  UNIQUE KEY `Nom` (`Nom`),
  KEY `WDIDX_LogTournee_IdSiteDepart` (`IdSiteDepart`),
  KEY `WDIDX_LogTournee_IdSiteArrivee` (`IdSiteArrivee`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=latin1;
CREATE TABLE `t_module` (
  `IdModule` int NOT NULL AUTO_INCREMENT,
  `ModuleNumeroSerie` varchar(30) DEFAULT NULL,
  `Type_module` smallint DEFAULT NULL,
  `Port_serie` smallint DEFAULT NULL,
  `Position_Plan_X` int DEFAULT NULL,
  `Position_Plan_Y` int DEFAULT NULL,
  `IdPlan` int DEFAULT NULL,
  `AdresseIP` varchar(15) DEFAULT NULL,
  `DelaiReseau` int DEFAULT NULL,
  `Emplacement` varchar(50) DEFAULT NULL,
  `Archive` tinyint DEFAULT '0',
  `IDserveur` int DEFAULT '1',
  PRIMARY KEY (`IdModule`),
  UNIQUE KEY `Identifiant_Module` (`Type_module`,`ModuleNumeroSerie`),
  KEY `Module_Numero_Serie_IDX` (`ModuleNumeroSerie`),
  KEY `Module_Type_module_IDX` (`Type_module`),
  KEY `Module_Port_serie_IDX` (`Port_serie`),
  KEY `Module_IDPlan_IDX` (`IdPlan`),
  CONSTRAINT `FK_PLAN_MODULE` FOREIGN KEY (`IdPlan`) REFERENCES `t_plan` (`IdPlan`),
  CONSTRAINT `FK_TYPE_MODULE` FOREIGN KEY (`Type_module`) REFERENCES `t_module_type` (`Type_module`)
) ENGINE=InnoDB AUTO_INCREMENT=85 DEFAULT CHARSET=latin1;
CREATE TABLE `t_module_type` (
  `Type_module` smallint NOT NULL,
  `LibelleTypeModule` varchar(50) DEFAULT NULL,
  `LibelleModule` varchar(100) DEFAULT NULL,
  `Image` longblob,
  `FlagAffichePlan` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`Type_module`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_parametre` (
  `Section` varchar(100) NOT NULL DEFAULT '',
  `MotCle` varchar(100) NOT NULL DEFAULT '',
  `Valeur` longtext,
  `Commentaire` longtext,
  PRIMARY KEY (`Section`,`MotCle`),
  KEY `Parametre_Section_IDX` (`Section`),
  KEY `Parametre_MotCle_IDX` (`MotCle`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_pdf` (
  `IdPDF` int NOT NULL AUTO_INCREMENT,
  `NomPDF` varchar(50) DEFAULT NULL,
  `ContenuPDF` longblob,
  PRIMARY KEY (`IdPDF`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=latin1;
CREATE TABLE `t_plan` (
  `IdPlan` int NOT NULL AUTO_INCREMENT,
  `Image` longblob,
  `Titre` varchar(50) DEFAULT NULL,
  `Archive` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`IdPlan`),
  UNIQUE KEY `Plan_Titre_IDX` (`Titre`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=latin1;
CREATE TABLE `t_planningalarme` (
  `IdPlanningAlarme` int NOT NULL AUTO_INCREMENT,
  `IdLieu` int NOT NULL,
  `CodeActivation` varchar(8) DEFAULT '11111111' COMMENT 'chaque bit correspond  un jour de la semaine, 0 alarme dsactive, 1 alarme active',
  PRIMARY KEY (`IdPlanningAlarme`),
  KEY `PlanningAlarme_IdLieu_IDX` (`IdLieu`),
  CONSTRAINT `FK_LIEU_PLANNINGALARME` FOREIGN KEY (`IdLieu`) REFERENCES `t_lieu` (`IdLieu`)
) ENGINE=InnoDB AUTO_INCREMENT=428 DEFAULT CHARSET=latin1;
CREATE TABLE `t_planningconsigne` (
  `IdPlanningConsigne` int NOT NULL AUTO_INCREMENT,
  `IdLieu` int DEFAULT NULL,
  `CodeConsigne` varchar(3) DEFAULT NULL,
  `ValeurConsigneJour1` double DEFAULT NULL,
  `ValeurConsigneJour1b` double DEFAULT NULL,
  `ValeurConsigneJour2` double DEFAULT NULL,
  `ValeurConsigneJour2b` double DEFAULT NULL,
  `ValeurConsigneJour3` double DEFAULT NULL,
  `ValeurConsigneJour3b` double DEFAULT NULL,
  `ValeurConsigneJour4` double DEFAULT NULL,
  `ValeurConsigneJour4b` double DEFAULT NULL,
  `ValeurConsigneJour5` double DEFAULT NULL,
  `ValeurConsigneJour5b` double DEFAULT NULL,
  `ValeurConsigneJour6` double DEFAULT NULL,
  `ValeurConsigneJour6b` double DEFAULT NULL,
  `ValeurConsigneJour7` double DEFAULT NULL,
  `ValeurConsigneJour7b` double DEFAULT NULL,
  PRIMARY KEY (`IdPlanningConsigne`),
  KEY `IdLieu` (`IdLieu`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=latin1;
CREATE TABLE `t_planningheurebascule` (
  `IdPlanningHeureBascule` int NOT NULL AUTO_INCREMENT,
  `IdLieu` int DEFAULT NULL,
  `HeureJour1` time DEFAULT NULL,
  `HeureJour2` time DEFAULT NULL,
  `HeureJour3` time DEFAULT NULL,
  `HeureJour4` time DEFAULT NULL,
  `HeureJour5` time DEFAULT NULL,
  `HeureJour6` time DEFAULT NULL,
  `HeureJour7` time DEFAULT NULL,
  PRIMARY KEY (`IdPlanningHeureBascule`),
  KEY `IdLieu` (`IdLieu`)
) ENGINE=InnoDB AUTO_INCREMENT=3468 DEFAULT CHARSET=latin1;
CREATE TABLE `t_postes_clients` (
  `IdPoste` int NOT NULL AUTO_INCREMENT,
  `NomMachineConnexion` varchar(50) DEFAULT NULL,
  `AdresseIPConnexion` varchar(15) DEFAULT NULL,
  `Login` varchar(64) DEFAULT NULL,
  `Nom` varchar(50) DEFAULT NULL,
  `Prenom` varchar(50) DEFAULT NULL,
  `DateHeureDerniereConnexion` datetime DEFAULT NULL,
  PRIMARY KEY (`IdPoste`),
  UNIQUE KEY `nomMachineId` (`NomMachineConnexion`)
) ENGINE=InnoDB AUTO_INCREMENT=12866 DEFAULT CHARSET=latin1;
CREATE TABLE `t_profil` (
  `IdProfil` int NOT NULL AUTO_INCREMENT,
  `ProfilUtilisateur` varchar(50) DEFAULT NULL,
  `Commentaire` varchar(100) DEFAULT NULL,
  `MC2` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`IdProfil`),
  UNIQUE KEY `Profil_ProfilUtilisateur_IDX` (`ProfilUtilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=latin1;
CREATE TABLE `t_site` (
  `IdSite` int NOT NULL AUTO_INCREMENT,
  `CodeSite` varchar(20) DEFAULT NULL,
  `LibelleSite` varchar(50) DEFAULT NULL,
  `Commentaire` varchar(200) DEFAULT NULL,
  `Archive` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`IdSite`),
  UNIQUE KEY `CodeSite_IDX` (`CodeSite`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=latin1;
CREATE TABLE `t_sonde` (
  `IdSonde` int NOT NULL AUTO_INCREMENT,
  `Adresse_sonde` varchar(50) DEFAULT NULL,
  `SondeNumeroSerie` varchar(50) DEFAULT NULL,
  `Port_serie` smallint DEFAULT NULL,
  `Etat_Sonde` varchar(1) DEFAULT NULL,
  `IdModule` int DEFAULT NULL,
  `Relai_1` varchar(50) DEFAULT NULL,
  `Relai_2` varchar(50) DEFAULT NULL,
  `Relai_3` varchar(50) DEFAULT NULL,
  `Relai_4` varchar(50) DEFAULT NULL,
  `Relai_5` varchar(50) DEFAULT NULL,
  `Relai_6` varchar(50) DEFAULT NULL,
  `Frequence_mesure` int DEFAULT NULL,
  `Frequence_Recup` int DEFAULT NULL,
  `SondeReformee` tinyint(1) DEFAULT '0',
  `Etat_Sonde_N1` varchar(1) DEFAULT NULL,
  `IDserveur` int DEFAULT '1',
  PRIMARY KEY (`IdSonde`),
  UNIQUE KEY `Numero_serie` (`SondeNumeroSerie`),
  KEY `WDIDX125257405080` (`IdModule`),
  KEY `Sonde_Adresse_sonde_IDX` (`Adresse_sonde`),
  KEY `Sonde_Port_serie_IDX` (`Port_serie`),
  KEY `Sonde_Etat_Sonde_IDX` (`Etat_Sonde`),
  CONSTRAINT `FK_ETAT_SONDE` FOREIGN KEY (`Etat_Sonde`) REFERENCES `t_sonde_etat` (`Etat_Sonde`),
  CONSTRAINT `FK_MODULE_SONDE` FOREIGN KEY (`IdModule`) REFERENCES `t_module` (`IdModule`)
) ENGINE=InnoDB AUTO_INCREMENT=34324 DEFAULT CHARSET=latin1;
CREATE TABLE `t_sonde_etat` (
  `Etat_Sonde` varchar(1) NOT NULL,
  `Etat_Libelle` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`Etat_Sonde`),
  UNIQUE KEY `Etat_Sonde` (`Etat_Sonde`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_sonde_type` (
  `SondeType` varchar(1) NOT NULL,
  `LibelleSondeType` varchar(50) DEFAULT NULL,
  `GestionRelais` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`SondeType`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_sonde_typemesure` (
  `SondeTypeMesure` varchar(1) NOT NULL,
  `LibelleSondeTypeMesure` varchar(50) DEFAULT NULL,
  `FlagRelais` tinyint(1) DEFAULT '0',
  `FlagAfficheInformation` tinyint(1) DEFAULT '0',
  `UniteMesure` varchar(20) DEFAULT NULL,
  `LibelleUniteMesure` varchar(50) DEFAULT NULL,
  `ReserveMC2` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`SondeTypeMesure`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
CREATE TABLE `t_utilisateur` (
  `IdUtilisateur` int NOT NULL AUTO_INCREMENT,
  `Login` varchar(64) DEFAULT NULL,
  `Mot_de_passe` varchar(32) DEFAULT NULL,
  `Date_Validite` date DEFAULT NULL,
  `Date_Creation` date DEFAULT NULL,
  `Archive` tinyint(1) DEFAULT '0',
  `ProfilUtilisateur` varchar(50) DEFAULT NULL,
  `DateHeureDerniereConnexion` datetime DEFAULT NULL,
  `DateHeureConnexion` datetime DEFAULT NULL,
  `AdresseIPConnexion` varchar(15) DEFAULT NULL,
  `NomMachineConnexion` varchar(50) DEFAULT NULL,
  `IdSite` int DEFAULT NULL,
  `Civilite` varchar(30) DEFAULT NULL,
  `Nom` varchar(50) DEFAULT NULL,
  `Prenom` varchar(50) DEFAULT NULL,
  `Tel_Num_Fixe` varchar(50) DEFAULT NULL,
  `Tel_Num_Mobile` varchar(50) DEFAULT NULL,
  `Adresse_Email` varchar(100) DEFAULT NULL,
  `Chemin_VigiSurv` varchar(100) DEFAULT NULL,
  `Sversion` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`IdUtilisateur`),
  UNIQUE KEY `Utilisateur_Nom_IDX` (`Login`),
  UNIQUE KEY `Login` (`Login`),
  KEY `Utilisateur_Archive_IDX` (`Archive`),
  KEY `Utilisateur_ProfilUtilisateur_IDX` (`ProfilUtilisateur`),
  CONSTRAINT `FK_PROFIL_UTILISATEUR` FOREIGN KEY (`ProfilUtilisateur`) REFERENCES `t_profil` (`ProfilUtilisateur`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=latin1;
