<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="VigitempSiteWebUrl" value="http://192.168.63.144:3000" />
    <add key="VigitempAgentSecret" value="" />
    <!-- Database configuration -->
    <add key="Vigi.Db.Host"            value="192.168.63.121" />
    <add key="Vigi.Db.Port"            value="3306" />
    <add key="Vigi.Db.User"            value="root" />
    <add key="Vigi.Db.Password"        value="" />
    <add key="Vigi.Db.MainDatabase"    value="vigitemp" />
    <add key="Vigi.Db.MeasureDatabase" value="vigitemp_mesure" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
